*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    padding-top: 30px;
}

.listra-title{
    border-left: 3px solid #D5AF36;
    height: 40px;
    padding-left: 10px;
}

.card{
    display: fixed;
    margin: 5rem;
    height: 20rem;
    border-radius: 10px;
    border: none;
    background-color: #284061;
}

.card-title{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #ffff; 
}

.card-text{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #ffff; 
}

.btn-create_patient{
    display: block;
    margin-top: 8vh;   
    font-size: 1rem;
    color: #fff;
    background-color: #d5af36;
    border: none;
    border-radius: 20px;
    height: 45px;
    width: 250px;
    margin-left: 21rem;
}

.form-control{
    display: fixed;
    margin-top: 20px;
    margin-left: 16rem;
    width: 28rem;
}
