{% extends 'medical/base.html' %} {%load static%} {% load crispy_forms_tags %}

{% block header%} {%endblock header%} {%block css%}
<link rel="stylesheet" href="../../static/medical/css/update_patient.css" />
<link rel="stylesheet" href="../../static/medical/css/basebar.css" />
<link rel="stylesheet" href="../../static/medical/css/component/scrollBar.css"/>
{%endblock css%} {% block body%} {%include 'medical/basebar.html'%}
<div class="container">
  {% include 'medical/pages/component/loading.html' %}

  <div class="title">
    <h2 class="listra-title">Cadastrar Paciente</h2>
  </div>

  <div class="form-create_patient">
    <form action="#" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="div-flex">
        <div class="inputs">
          <div class="name-input">{{formuser.username|as_crispy_field}}</div>
          <div class="email-input">{{formuser.email|as_crispy_field}}</div>
          <div class="phone-input">{{formuser.phone|as_crispy_field}}</div>
        </div>

        <div class="inputs">
          <div class="number-input">{{formuser.number|as_crispy_field}}</div>
          <div class="CPF-input">{{formuser.cpf|as_crispy_field}}</div>
          <div class="data-input">{{formuser.birth_date|as_crispy_field}}</div>
        </div>

        <div class="inputs">
          <div class="street-input">{{formuser.street|as_crispy_field}}</div>
          <div class="district-input">{{formuser.district|as_crispy_field}}</div>
          <div class="association-input">{{formuser.association|as_crispy_field}}</div>
          <div class="uf-input">{{formuser.uf|as_crispy_field}}</div>
        </div>
      </div>

      <div class="procedure-field">
        <div class="procedure-check">
          <label>aa</label>
          {{formuser.procedure|as_crispy_field }}
        </div>

        <div>
            <img class="image" src="../../static/medical/img/bro.png" >
        </div>
      </div>
    <div class="btn">
        <input type="submit" class="btn-create" value="Salvar" />
    </div>
    </form>
  </div>

</div>
{%endblock body%}
