{% extends 'medical/base.html' %} {%load static%} {% load crispy_forms_tags %}
{% block header%} {%endblock header%} {%block css%}
<link rel="stylesheet" href="../../static/medical/css/basebar.css" />
<link rel="stylesheet" href="../../static/medical/css/procedure.css" />
<link rel="stylesheet" href="../../static/medical/css/component/scrollbar.css"/>
<link rel="stylesheet" href="../../static/medical/css/component/loading.css" />
{%endblock css%} {% block body %} {%include 'medical/basebar.html'%}

<div class="container">
    {% include 'medical/pages/component/loading.html' %}
  <div class="title">
    <h2 class="listra-title">Cadastrar Procedimento</h2>
  </div>
  <div>
    <form action="{%url 'procedure'%}" method="post">
      {% csrf_token %}
      <div>
        <div class="title-input">
            {{formproc.title|as_crispy_field}}
        </div>
        <div class="days-limit-input">
          {{formproc.days_limit|as_crispy_field}}
        </div>
      </div>
      <div class="description-input">
        {{formproc.description|as_crispy_field}}
      </div>
      <div class="recommendation-input">
        {{formproc.recommendation|as_crispy_field}}
      </div>
      <input class="btn-create_patient" type="submit" value="salvar" />
    </form>
  </div>
</div>
{% endblock body %}
