{% extends 'medical/base.html' %} {%load static%} {% load crispy_forms_tags %}
{% block header%} {%endblock header%} {%block css%}
<link rel="stylesheet" href="../../static/medical/css/resetPassword.css" />
<link rel="stylesheet" href="../../static/medical/css/component/scrollBar.css" />
{%endblock css%} {% block body %}

<div class="container">
  <div class="title">
    <h2 class="listra-title">Trocar senha</h2>
  </div>
   <div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Recupere sua senha</h5>
          <p class="card-text">Será enviada uma solicitação por email para recuperar sua senha.</p>
          <input type="email" class="form-control" placeholder="Digite seu email" aria-label="Username" aria-describedby="basic-addon1">
          <input class="btn-create_patient" type="submit" value="salvar" />
        </div>
      </div>
   </div>
</div>

{%endblock body%}
