{% extends 'medical/base.html' %} {%load static%} {% load crispy_forms_tags %}
{% block header%} {%endblock header%} {%block css%}
<link rel="stylesheet" href="../../static/medical/css/basebar.css" />
<link rel="stylesheet" href="../../static/medical/css/show_finalization_patient.css" />
<link rel="stylesheet" href="../../static/medical/css/component/search.css" />
<link rel="stylesheet" href="../../static/medical/css/component/scrollBar.css" />
<link rel="stylesheet" href="../../static/medical/css/component/loading.css" />
{%endblock css%} {% block body %} {%include 'medical/basebar.html'%}


<div class="container">
    {% include 'medical/pages/component/loading.html' %}
  <div class="title">
    <h2 class="listra-title">Finalizar pacientes</h2>
  </div>
  {% include 'medical/pages/component/search.html' %}

  
  <div class="background-table">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="padding: 15px 15px 15px 22px">Paciente</th>
          <th scope="col" style="padding: 15px; padding-left: 200px;">Data de cadastro</th>

          <th scope="col" style="padding: 15px">finalizado</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user %}
        <tr data-toggle="collapse" data-target="#{{ user.id }}" class="accordion-toggle">
          <td class="listra" style="padding: 15px;">{{ user.username }}</td>
          <td style="padding: 15px; padding-left: 200px;">{{ user.created_at | date:"d/m/Y" }}</td>
          <td style="padding: 15px">
            <input type="checkbox" title="Finalizar paciente">

          </td>
      
          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Aviso!</h5> 
                </div>
                <div class="modal-body">
                  <p>Você deseja apagar este item da tabela?</p>
                </div>
                <div class="modal-footer">
                  <form method="POST" action="{% url 'delete_patient' user.id %}">
                    {% csrf_token %}
                    <button class="btn-delete" type="submit">Apagar</button>
                  </form>
                  <button class="btn-closed" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <tr>
          <td colspan="12" class="hiddenRow">
                <div class="accordian-body collapse" id="{{user.id}}">
              <table class="table listra">
                <th class="title-table" scope="col" style="padding: 15px;">DADOS PESSOAIS</th>
                <th class="title-table" scope="col" style="padding-left: 150px; padding-top: 15px;">EXAMES INDICADOS</th>
                
                <tr>
                  <td>
                    <div class="item-table">
                      <ul >NOME:</ul>
                      <p>{{user.username}}</p>
                    </div>
                    <div class="item-table">
                      <ul>CPF:</ul>
                      <p>{{user.cpf}}</p>
                    </div>
                    <div class="item-table">
                      <ul>EMAIL:</ul>
                      <p>{{user.email}}</p>
                    </div>
                    <div class="item-table">
                      <ul>NUMERO:</ul>
                      <p>{{user.phone}}</p>
                    </div>
                  </td>
                  <td style="padding-left: 140px; padding-top: 15px;">
                    {% for proc in user.procedure.all %}
                    <div class="exames-indicados" >
                      <ul style>{{proc.title}}{{proc.created_at|date:" - d/m/Y"}}<a href="#" ><i class="fa-regular fa-circle-check" style="color: #479127; padding-left: 5px;"></i></a><a href="#" ><i class="fa-regular fa-circle-xmark" style="color: #e61919;"></i></a></ul>
                    </div>
                    {% endfor %}
                  </td>
                  <td>

                    <div class="sugestao">
                    {% for proc in user.procedure.all %}
                      {% for reco in proc.recommendation.all%}
                      <ul>{{reco.name}}</ul>
                      {% endfor %}
                    {% endfor %}
                    
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

<div class="container_pagination">
  <nav aria-label="Page-navigation">
      <ul class="pagination">
          {% if user.has_previous %}
              <li class="page-item ">
                  <a class="page-link" href="?page={{user.previous_page_number}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="#">Página {{user.number}} de {{user.paginator.num_pages}}</a></li>
          {% if user.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{user.next_page_number}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span></a>
              </li>
          {% endif %}
      </ul>
  </nav>
</div>
</div>

{%endblock body%}